@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../image/clouds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.principal{
    font-family: "Bebas Neue";
    font-size: 5rem;
    color: white;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.425);
    margin-top: 50px;
    text-align: center;
}

main{
    text-align: center;
}

input[type="text"]{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.4rem;
    width: 50%;
    height: 25px;
    padding: 10px;
    
}

input[type="button"]{
    background-color: skyblue;
    color: white;
    margin-top: 10px;
    font-size: 1.3rem;
    width: 150px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

section{
    display: grid;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    grid-template: auto / 2fr 1fr;
    justify-items: center;
    gap: 25px;

}

#previsaoHoje{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    
}

.temp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    border-radius: 10px;
    margin-top: 50px;
    padding: 10px;
    background-color: lightgray;
    width: 400px;

}


#previsaoProximos{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    height: 500px;
    text-align: center;
}

.proximosDias{
    background-color: lightgray;
    margin: auto;
    text-align: left;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 350px;
}